In [1]:
# Dependencies
import os
import pandas as pd
from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager

In [2]:
#set the chromedriver path
executable_path = {"executable_path": "chromedriver"}
browser = Browser("chrome", **executable_path, headless=False)

In [3]:
url = "https://redplanetscience.com/"
browser.visit(url)

In [4]:
html = browser.html
soup = BeautifulSoup(html, "html.parser")

# NASA Mars News
Scrape the Mars News Site and collect the latest News Title and Paragraph Text. Assign the text to variables that you can reference later.

In [5]:
news_title = soup.find_all('div', class_ ='content_title')[0].text
news_p = soup.find_all('div', class_ ='article_teaser_body')[0].text
print(news_title)
print(news_p)

7 Things to Know About the Mars 2020 Perseverance Rover Mission
NASA's next rover to the Red Planet is slated to launch no earlier than July 30. These highlights will get you up to speed on the ambitious mission.

In [6]:
browser.quit()

# JPL Mars Space Images - Featured Image

In [7]:
# Visit the following URL
#set the chromedriver path
executable_path = {"executable_path": "chromedriver"}
browser = Browser("chrome", **executable_path, headless=False)

url = "https://spaceimages-mars.com/"
browser.visit(url)

In [8]:
#Use splinter to navigate the site and find the image url for the current Featured Mars Image and 
#assign the url string to a variable called featured_image_url.
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
image = soup.find("img", class_="headerimage fade-in")["src"]
featured_image_url = url + image
featured_image_url

'https://spaceimages-mars.com/image/featured/mars3.jpg'

In [9]:
browser.quit()

# Mars Facts

In [10]:
#Use Pandas to scrape the table containing facts about the planet
url = 'https://space-facts.com/mars/'
tables_facts = pd.read_html(url)
tables_facts

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [11]:
#Convert data to dataframe
facts_df = tables_facts[0]
facts_df.columns = ['Parameter', 'Value']
facts_df

              Parameter                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [12]:
#Convert the data to a HTML table string
html = facts_df.to_html()
print(html)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Parameter</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Equatorial Diameter:</td>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Polar Diameter:</td>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Mass:</td>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Moons:</td>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Orbit Distance:</td>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Orbit Period:</td>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Surface Temperature:</td>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <th>7</th>
      <td>First Record:</td>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Recorded By:</td>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

# Mars Hemispheres

In [13]:
#Visit Mars Hemispheres url to obtain high resolution images for each of Mar's hemispheres.

#set the chromedriver path
executable_path = {"executable_path": "chromedriver"}
browser = Browser("chrome", **executable_path, headless=False)

hemis_url = "https://marshemispheres.com/"
browser.visit(hemis_url)

In [14]:
# Collect the urls by  clicking each of the links to the hemispheres

#Retrieve the titles and urls and append to list
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
hemispheres = soup.find_all('div', class_='item')

hemisphere_image_urls = {}
hemisph_title = []
img_urls = []
for hemisphere in hemispheres:
    title = hemisphere.find('h3').text
    main_url = hemis_url + hemisphere.find('a')['href']
    browser.visit(main_url)
    img_html = browser.html
    soup = BeautifulSoup(img_html, 'html.parser')
    image_url = hemis_url + soup.find('img', class_='wide-image')['src']
    hemisphere_image_urls = {
        "title" : title, 
        "img_url" : image_url
    }
    print(hemisphere_image_urls)

{'title': 'Cerberus Hemisphere Enhanced', 'img_url': 'https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'}
{'title': 'Schiaparelli Hemisphere Enhanced', 'img_url': 'https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'}
{'title': 'Syrtis Major Hemisphere Enhanced', 'img_url': 'https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'}
{'title': 'Valles Marineris Hemisphere Enhanced', 'img_url': 'https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}

In [15]:
browser.quit()